#page-estoques{
 margin-top: 20px; 
}
#page-estoques .content-page{
  background-color: #F8F8F8;
  border-radius: 50px 10px 0 0;
}
#page-estoques .main-row{
  height: 100vh;
}
#page-estoques .main-padding{
  padding-top: 80px;
  padding-left: 80px;
}
.card-estoque{
  cursor:pointer;
  background-color: #FFF;
  border-radius: 20px;
  border:1px solid #EDEDED;
  padding:20px;
  margin-bottom:20px;
  transition: border-color 0.2s, background-color 0.2s;
}
.card-estoque:hover{
  border-color:#640893;
  background-color:#EDEDED;
}
.card-estoque .head-estoque{
  display: flex;
}
.card-estoque .head-estoque .icon-estoque span{
  background-color: #FFECB3;
  border: 1px solid #FFC107;
  width: 40px;
  height: 30px;
  border-radius: 50px;
  display: block;
  padding-top: 9px;
  text-align: center;
  margin-right: 16px;
}
.card-estoque .head-estoque .icon-estoque svg{
  width: 18px;
  height: 20px;
  color:#FFC107;
}
.card-estoque .titulo-estoque{
  font-weight: 700;
}
.card-estoque .tipo-estoque{
  font-weight: 400;
  font-size: 14px;
}

.card-estoque .body-estoque .quantidade-itens{
  font-size: 40px;
  font-weight: 700;
  color:#5A5A5A;
  text-align: center;
  padding:27px 0;
}
.card-estoque .body-estoque .quantidade-itens span{
  font-size: 40px;
  font-weight: 400;
  font-size: 14px;
}