#page-produtos{
  margin-top:50px;
}
#page-produtos .alerta-vermelho, #page-produtos .alerta-amarelo{
  font-weight: 700;
  margin: 0px;
}
#page-produtos .alerta-amarelo{
  color:#E5A515;
}
#page-produtos .alerta-vermelho{
  color:#EA1616;
}
