#page-desperdicios .lista-desperdicios{
  width: 100%;
 margin-top:30px;
  background-color: #FFF;
  padding:50px;
  border:1px solid #EDEDED;
}
#page-desperdicios .lista-desperdicios thead tr th{
  padding-bottom:20px;
  color:#640893;
  font-weight: 500;
}
#page-desperdicios .lista-desperdicios .cell-actions svg{
  padding:0 10px;
  color:#640893;
}
#page-desperdicios .lista-desperdicios .cell-expires,#page-desperdicios .lista-desperdicios .cell-amount,#page-desperdicios .lista-desperdicios .cell-actions{
  text-align: center;
}
#page-desperdicios .lista-desperdicios .linha-produto td{
  border-bottom: 1px solid #E0E0E0;
  padding:10px 0;
}
#page-desperdicios .lista-desperdicios .linha-produto .cell-name{
  text-align: left;
  width: 70%;
  padding: 10px 10px;
}
#page-desperdicios .lista-desperdicios thead .cell-name{
  text-align: left;
}
