body{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#page{
  margin-top: 20px;
 }
 #page .content-page{
   background-color: #F8F8F8;
   border-radius: 50px 10px 0 0;
 }
 #page .main-row{
   height: 100vh;
 }
 @media(max-width:768px){
  #page .content-page{
    border-radius: 10px;
    margin-top:20px;
    padding-bottom:40px;
  }
  #page .main-row{
    height: inherit;
  }
 }
 #page .main-padding{
   padding-top: 80px;
   padding-left: 80px;
 }

 @media(max-width:768px){
  #page .main-padding{
    padding-top: 20px;
    padding-left: 0px;
  }
 }

.button-roxo, .button-download{
  background-color: #640893;
  border: 1px solid #8705C9;
  border-radius: 10px;
  padding: 15px 40px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.baixar-dados{
  text-align: center;
}
.button-download{
  background-color: #388E3C;
  border:1px solid #2E7D32;
  padding:10px;
  font-weight: 400;
  margin:20px  auto;
}
.button-download:hover{
  background-color: #2E7D32;
  border:1px solid #388E3C;
  padding:10px;
  font-weight: 400;
  margin:20px  auto;
}
.button-roxo svg{
  margin-right: 5px;
}
.adicionar-item{
  text-align: right;
}
@media(max-width:768px){
  .adicionar-item {
    text-align: center;
    margin-bottom:20px;
  }
  .adicionar-item button{
    padding:10px;
  }
}
.adicionar-item button{
  cursor: pointer;
}
.align-right{
  text-align: right;
}
.titulo-pagina h1{
  font-size: 26px;
  font-weight: 700;
  color: #3D0659;
}

.titulo-pagina svg,.adicionar-item svg{
  vertical-align: top;
  margin-right: 5px;
}

.content-page{
  background-color: #F8F8F8;
  border-radius: 50px 10px 0 0;
}

.form-padrao label, .labelDate{
  font-weight:700;
}
.form-padrao .field input[type=text],
.form-padrao .field input[type=email],
.form-padrao .field input[type=password]{
  margin-top: 5px;
  background: #F0F0F5;
  border:1px solid #dcdcef;
  border-radius: 10px;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
  margin-bottom:30px;
  min-width:300px;
}
.form-padrao .field select{
  display:block;
  margin-top: 5px;
  background: #F0F0F5;
  border:1px solid #dcdcef;
  border-radius: 10px;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
  margin-bottom:30px;
  min-width:350px;
}

.form-padrao .submit-button{
  text-align: center;
}

.lista-tabela-padrao{
  width: 100%;
 margin-top:30px;
  background-color: #FFF;
  padding:50px;
  border:1px solid #EDEDED;
}
@media(max-width:768px){
  .lista-tabela-padrao{
    padding:20px;
  }
}
.lista-tabela-padrao thead tr th{
  padding-bottom:20px;
  color:#640893;
  font-weight: 500;
}
.lista-tabela-padrao .cell-actions svg{
  padding:0 10px;
  color:#640893;
}
.lista-tabela-padrao .cell-expires,.lista-tabela-padrao .cell-amount,.lista-tabela-padrao .cell-actions{
  text-align: center;
}
.lista-tabela-padrao .cell-expires.red{
  color:#EA1616;
}
.lista-tabela-padrao .cell-expires.yellow{
  color:#E5A515;
}
.lista-tabela-padrao .cell-expires.green{
  color:green
}
@media(max-width:768px){
  .lista-tabela-padrao tbody tr td {
    padding: 10px;
  }
}
.lista-tabela-padrao .linha-produto td{
  border-bottom: 1px solid #E0E0E0;
  padding:10px 0;
}
.lista-tabela-padrao .linha-produto .cell-name{
  text-align: left;
  width: 70%;
  padding: 10px 10px;
}
.lista-tabela-padrao thead .cell-name{
  text-align: left;
}
